/* Write your CSS here */
.teamCards {
  display: flex;
  flex-direction: row;
  border-width: 5px;
  border: solid;
  margin: 10px;
  padding: 15px;
  flex-wrap: wrap;
}
.teamlogo {
  width: 100px;
}
